<?xml version="1.0"?>

<launch>
	<arg name="svo_file"             default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <arg name="stream"               default="" /> <!-- <arg name="stream" default="<ip_address>:<port>"> -->

    <arg name="camera_model"         default="zed" />

	<arg name="filename"			 default="../zed-ros/src/zed-ros-testing/stereo_image_view/recordings/out.avi" />

    <!-- Launch ZED camera wrapper -->
    <include file="$(find zed_wrapper)/launch/$(arg camera_model).launch">
        <arg name="camera_model"        value="$(arg camera_model)" />
        <arg name="svo_file"            value="$(arg svo_file)" />
        <arg name="stream"              value="$(arg stream)" />
    </include>
	
	<!-- Launch left_right_rect -->
	<node name="left_right_reect_image" type="left_right_rect" pkg="left_right_rect" output="screen"/>
</launch>
